body {
  text-align: center;
  margin: 0;
  background-color: black;
  background-image: url('images/csgobackground.jpg');
  background-repeat: no-repeat;
}
.section1 {
  display: flex;
  flex-direction: column;
}
.website-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header {
  font-family: 'Playfair Display', serif;
  color: white;
  margin-bottom: 0;
}
.header-p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profile-image {
  height: 200px;
  border-radius: 50%;
}
.pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}
.pricing p {
  width: 250px;
  padding: 0 20px;
}
.bio {
  display: flex;
  width: 700px;
  color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color:#36f35b;
  padding: 20px;

}
a:hover {
  text-decoration: underline;
  color: #ff7235;
}
h2 {
  display: inline-block;
  background-color: black;
  color: #36f35b;
  padding: 5px;
  border-radius: 10px;
}
.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reviewimages {
  height: 150px;
}
ul {
  list-style: none;
}
.continuous {
  color: white;
}
.courses {
  width: 45%;
  margin: 0 auto;
  color: white;
}
.courses h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.recommendimg-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.individual {
  color: white;
}
hr {
  margin: 40px 0;
}
.Contact {
  color: white;
}
.brief {
  color: white;
}
.onceoff {
  margin: 0 auto;
}
.onceoff-txt {
  margin: 0 100px;
}
.imgs {
  height: 100px;
}
